.uk-background-secondary {
	background-color: @global-secondary-background;
}

.uk-background-secondary-soft {
	background-color: lighten(@global-secondary-background,30%  );
}

.uk-background-primary-soft {
	background-color: lighten(@global-primary-background,30%  );
}


// body > *{
// 	background: linear-gradient(to right, rgba(117,247,52,1) 0%, rgba(105,240,93,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%)!important;
// }