
// BUTTONS //

.uk-button .uk-icon, a .uk-icon {
	vertical-align: text-bottom;
}



@button-default-background:                     white;
@button-default-background:                     white;
@button-default-hover-background:               white;
@button-default-active-background:              white;

@button-text-transform:                         none;

//@button-border-width:                           @global-border-width;

////@button-default-hover-border:                   darken(@global-border, 20%);
//@button-default-active-border:                  darken(@global-border, 30%);

//@button-disabled-border:                        @global-border;

//@button-text-border-width:                      @global-border-width;
//@button-text-border:                            @button-text-hover-color;

@button-font-size:                              @global-font-size;
@button-small-font-size:                        @global-small-font-size;
@button-large-font-size:                        @global-medium-font-size;

@button-large-padding-horizontal:              @global-large-gutter;
