.home-clients {
	
	 @media screen and (max-width: 640px) {

            padding-left:50px;

        }
	

    li {

        max-width: 175px;

        @media screen and (max-width: 640px) {

            max-width: 100%;

        }
    }

    img {
        max-width: 150px;

        @media screen and (max-width: 640px) {

            max-width: 80%;

        }
    }


    .uk-slider-nav {

        @media screen and (max-width: 640px) {

            display: none;

        }


    }



}