//modify source to avoid !important ?

.overview li label.fs-field-label {
	padding: 0!important;
}

.fs-form-overview {
	display: block;
	min-height: 90vh;
	padding-top: 0!important;
	padding-bottom: 0!important;
	margin-bottom: 2rem!important;

	.fs-fields li {
		padding-bottom: 0!important;
	}
}

.wpcf7-acceptance .wpcf7-list-item-label {

	font-size: 1rem!important;
}