//front page post

.fp-posts-slider {
	padding-left:2vw;

	@media screen and (max-width: 640px) {

	 	padding-left:10%;

	 }
}


.front-page-post {

	max-width: 400px;

	 @media screen and (max-width: 900px) {

	 	max-width: 350px;



	 }

	  @media screen and (max-width: 640px) {

	 	max-width: 75%;

	 }
	
}