//BANNER

.bit-hero {

    @media screen and (max-width: 640px) {

        margin-top: 40px;
        //padding: 0;

    }

     @media screen and (max-width: 768px) and (max-height: 1024px) and (min-height: 740px){ /// target: tablet, big phone;
            
            //background-color: red;

            br {
                display: none;
            }
        
        }
        @media screen and (max-width: 1430px) { /// target: tablet, big phone;
            
            //background-color: red;

            br {
                display: none;
            }
        
        }
}


 

.bit-hero-title {
    font-size: 4rem;
    line-height: 1;

    @media screen and (max-width: 640px) { 
    
                font-size: 3rem;
                text-align: center;
            

    }
}

.bit-hero-subtitle {
    
    font-size: 22px;

    @media screen and (max-width: 640px) {

        //font-size: 1.2rem!important;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 2.5rem!important;
    }
}


.bit-btn {

    @media screen and (max-width: 900px) {

        width: 100%;
    }

}


.hero-paralax {

    height: 90vh;
    
    .hero-paralax-top {

        margin-right: 3vw;
        margin-top: 6vh;
        max-width: 420px;
        

        ////whidth/////

        @media screen and (max-width: 1300px) {

            max-width: 55%;
            margin-top: 1vh;
            margin-right: 5vw;
        }

        @media screen and (max-width: 1100px) {

            max-width: 60%;
            margin-top: 2vh;
        }

        @media screen and (max-width: 900px) {

            max-width: 60%;
            margin-top: 5vh;
        }

        @media screen and (max-width: 640px) {

            max-width: 65%;
            margin-top: 1vh;
            margin-right: 10%;
        }

        ///height///

        @media screen and (max-width: 768px) and (max-height: 1024px) and (min-height: 740px){ /// target: tablet, big phone;
            
            //background-color: red;

            margin-top: 25vh;
        
        }


    }

    .hero-paralax-bottom {

        margin-right: 10vw;
        margin-bottom: calc(100vh / 10%);
        //max-width: 10vw;
        max-width: 25%;

        @media screen and (max-width: 1300px) {

            max-width: 25%;
            margin-right: 12vw;
            margin-bottom: 10vh;
        }

        @media screen and (max-width: 1100px) {

            max-width: 30%;
            margin-right: 12vw;
            margin-bottom: 12vh;
        }

        @media screen and (max-width: 640px) {

            max-width: 30%;
            margin-top: 30vh;
            margin-right: 30%;
        }
    }
}



.bit-hero-tkd {

    &-l {
        @media screen and (max-width: 640px) {
            order: 2;
            .bit-hero-title {
                font-size: 3rem;
                text-align: center;
            }
            .bit-hero-subtitle {
                 text-align: center;
            }
        }
    }

    &-r {

        img {max-width: 80%;}


        @media screen and (max-width: 640px) {
            padding-bottom: 30px;

            margin-top: 10%;

            img {
                max-width: 70%;
            }

        }

    }

}