//NAV
//// Navbar///
@navbar-background: @global-background;
@navbar-nav-item-height: 50px;
@navbar-nav-item-color: @global-emphasis-color ;
@navbar-nav-item-padding-horizontal: 10px;
@navbar-nav-item-text-transform: none;
@navbar-nav-item-font-size: 1rem;


.bit-nav {
    flex-wrap: wrap;
    padding-left: 10px;
}

/////rwd menu switcher////////////////////
///////////////////////////////////////////////////////////////////////////////////

.btn-menu-rwd {

    display: none;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 10px;
    padding: 3px;
    margin-left: 10px;
    font-weight: 400;

    @media screen and (max-width: 650px) {
        display: block;
        transition: all 2s;
    }
}


.nav-item-hide {

    @media screen and (max-width: 650px) {

        display: none;

    }
}




.show-me {

    @media screen and (max-width: 650px) {

        display: block;
        padding: 10px;
        padding-right: 5px;
        width: 100%;
        height: 30px;
        z-index: 1000;

        a {
            font-size: 0.9rem;
        }


         &-1 { // 1st bi.tkd btn
            position: absolute;
            top: -10px !important;
            right: 50px;
            background-color:white;
            height: 80px;
            //width: 171px;
            border-left: 1px solid gray;
            //box-shadow: -11px 0px 14px -11px rgba(173, 173, 173, 1);
            div {justify-content:center!important;}

            a {left: 1px;

            }
            display: none;
        }

        &-2 {
            position: absolute;
            top: 60px;
            right: 0;
            background-color: white;
            border-left: 1px solid gray;
            //box-shadow: -11px 0px 14px -11px rgba(173, 173, 173, 1);
        }

        &-3 { // last
            position: absolute;
            top: 110px;
            right: 0;
            background-color: white;
            border-left: 1px solid gray;
            //box-shadow: -11px 0px 14px -11px rgba(173, 173, 173, 1);
        }

       

        &-4 {
            position: absolute;
            top: 160px;
            right: 0;
            background-color: white;
            border-left: 1px solid gray;
            //box-shadow: -11px 0px 14px -11px rgba(173, 173, 173, 1);

        }

        &-5 {
            position: absolute;
            top: 210px;
            right: 0;
            background-color: white;
            border-left: 1px solid gray;
           // box-shadow: -11px 0px 14px -11px rgba(173, 173, 173, 1);

        }
        &-6 {

            position: absolute;
            top: 260px;
            right: 0;
            background-color: white;
            border-left: 1px solid gray;
             //box-shadow: -11px 0px 14px -11px rgba(173, 173, 173, 1);
            
        }
        &-7 {
            position: absolute;
            top: 310px;
            right: 0;
            background-color: white;
            border-left: 1px solid gray;
             //box-shadow: -11px 0px 14px -11px rgba(173, 173, 173, 1);
            
        }
         &-8 {

            position: absolute;
            top: 360px;
            right: 0;
            background-color: white;
            border-left: 1px solid gray;
            border-bottom: 1px solid gray;
            box-shadow: -17px 21px 25px -17px rgba(173, 173, 173, 1);
            padding-bottom: 20px;
            
        }

        &-9 {

            
            
        }


    }

    
}

.bit-h {
    @media screen and (max-width: 650px) {
    display:none;
    }
}

.rwd-wrp {
    display: inline!important;
}

.show-me .btn-menu-rwd .ham {

display:none;

}

.bit-close {
    display: none; 
}

.show-me .btn-menu-rwd .bit-close{
    display: inline;
}

///////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////


.bit-nav-l {

    max-width: 400px;
    margin-right: 1rem;

    @media screen and (max-width: 1200px) {

        max-width: 300px;
    }

    @media screen and (max-width: 800px) {

        margin-right: 0;

        .uk-logo {
            padding-left: 0;
        }
    }


    @media screen and (max-width: 650px) {

        width: 100%;
        display: flex;
        max-width: 650px;
        justify-content: center;

        .uk-logo { max-width: 50%;

        }

    }


}


.bit-navbar-center {

    align-items: center;


    a {
        margin-bottom: -15px;
        font-size: 1.3rem !important;

        &:hover,
        &:focus {
            border-bottom: 2px solid @global-link-hover-color;
        }


    }

    @media screen and (max-width: 1250px) {

        a {
            font-size: 1.2rem !important;
            padding: 0 5px !important;
        }


    }


    @media screen and (max-width: 1100px) {

        width: 100%;

        a {
            font-size: 1.2rem !important;
            padding: 0 5px;

        }


    }

    @media screen and (max-width: 850px) {

        margin-top: 0;
        justify-content: center;
    }


    @media screen and (max-width: 650px) {

        a {
            font-size: 1.3rem !important;
            padding: 0 3px;

        }
    }

    @media screen and (max-width: 450px) {

        a {
            font-size: 1.1rem !important;
            padding: 0 1px;

        }

    }


    &-tkd {
        a {

            &:hover,
            &:focus {
                border-bottom: 2px solid @global-link-hover-color-secondary;
            }
        }
    }
}

.bit-nav-r {

    @media screen and (max-width: 1100px) {
        top: 1px;
        right: 10px;
        position: absolute;

    }
    @media screen and (max-width: 650px) {
        //flex-direction: column;
        justify-content:flex-end;
        align-items: flex-end;

        .tkdbi {
            margin-top: -5px;
            position: absolute;
            top: 1px;
        right: 50px;
        
            a {

            background-color: white;
                    color: #57B2E3;
                    margin-right: 0;
                    padding: 0;
                    line-height: 1;
                    

            }
        }
    }

    .bit-switch-lang {

        list-style: none;
        margin-right: 1rem;

        a {

            font-size: 10px;
            margin-left: 5px;
        }

        @media screen and (max-width: 650px) {

            margin-right: 2px;
            margin-top: -10px;

            li {
                margin-bottom: 5px;
            }

            a {
                font-size: 10px;

            }
        }

        

    }

    

    &-btn {
        color: white;
        background-color: #57B2E3;
        margin-right: 1rem;


        @media screen and (max-width: 970px) {
            font-size: 0.8rem;
            padding: 0 10px;
        }

        @media screen and (max-width: 850px) {

            line-height: 25px;


        }

        @media screen and (max-width: 650px) {

            line-height: 35px;


        }

    }

}


/////STICKY///////
///////////////////////////////////////////////////////////////////////////////////////////////////


.uk-sticky-below {
   
    &:extend(.uk-box-shadow-small);
    border-bottom: 1px solid @global-muted-background;

    @media screen and (max-width: 800px) {
        padding: 0 !important;


    }

    .btn-menu-rwd {
        display:none ;
        z-index: 1000; 
    }

    .bit-close,.rwd-wrp {
        height: 0;
    }

    .bit-nav-l {

        @media screen and (max-width: 800px) {
            display: none;

        }

    }

    .bit-navbar-center {
        @media screen and (max-width: 800px) {
            margin-top: 0;
            display: none;

        }
    }

    .bit-nav-r {

        @media screen and (max-width: 800px) {
            display: none;

        }

    }

    .logo-img {
        height: 30px;
    }

    .uk-navbar-item,
    .uk-navbar-nav li a {
        height: 40px;
        min-height: 0;
    }

    .bit-navbar-center a {
        margin-bottom: -5px;
    }
}