

.bit-servei-p3 {


	&-bg {

		

		 @media screen and (max-width: 640px) { 
			
			

		 }

		
	}
	
	&-d {

		
		

		@media screen and (max-width: 1300px) { 
			
		
		 }

		 @media screen and (max-width: 640px) { 
			
			

		 }

	}


	&-e {

		

	}

	&-i {
		margin-left:75%;
		//background-color: red;
		
		@media screen and (max-width: 1400px) { 
			
			margin-left:80%;

		 }

		 @media screen and (max-width: 1200px) { 
			
			margin-left:100%;

		 }

		 @media screen and (max-width: 1000px) { 
			
			margin-left:120%;

		 }

		  @media screen and (max-width: 800px) { 
			
			margin-left:140%;

		 }

		 @media screen and (max-width: 640px) { 
			
			margin-left:90%;

		 }

		 @media screen and (max-width: 440px) { 
			
			margin-left:130%;

		 }


	}

	
	

}