

.bit-servei-p2 {


	&-bg {

		margin-top:-5vh;

		 @media screen and (max-width: 640px) { 
			
			margin-top:0;

		 }

		
	}
	
	&-d {

		margin-left:45vh;
		//background-color: red;

		@media screen and (max-width: 1300px) { 
			
			margin-left:26vw;

		 }

		 @media screen and (max-width: 640px) { 
			
			margin-left:60%;

		 }

	}


	&-p {

		

	}

	
	

}