

.bit-servei-p1 {


	&-bg {

		
	}

	&-p {

		margin-right:8vh;
		//background-color: red;
		max-width: 300px;

		@media screen and (max-width: 1000px) { 
			
			margin-right:1vh;

		 }

		 @media screen and (max-width: 780px) { 
			
			max-width: 90%;

		 }

		  @media screen and (max-width: 640px) { //full column
			
			margin-right: 10%

		 }

	}

	
	&-c1 {

	}
	
	&-c2 {

	}

	&-g {

		 @media screen and (max-width: 1200px) { 
			
			max-width: 75px;
			margin-left: 0;

		 }

	}

}