.bit-servei-p2-p {
  margin-right: 8vh;
  max-width: 300px;
}
@media screen and (max-width: 1000px) {
  .bit-servei-p2-p {
    margin-right: 1vh;
  }
}
@media screen and (max-width: 780px) {
  .bit-servei-p2-p {
    max-width: 90%;
  }
}
@media screen and (max-width: 640px) {
  .bit-servei-p2-p {
    margin-right: 10%;
  }
}
/*# sourceMappingURL=paralax-2.css.map */