

.bit-servei-p4 {


	&-bg {

		

		 @media screen and (max-width: 640px) { 
			

			

		 }

		
	}
	
	&-d {

		
		


	}


	&-c {

		margin-right: 45%;

		 @media screen and (max-width: 1100px) { 
			
			margin-right: 55%;

		 }

		 @media screen and (max-width: 640px) { 
			
			margin-right: 35%;

		 }


		

	}

	


	

	
	

}