.bit-servei-p3-bg {
  margin-top: -5vh;
}
@media screen and (max-width: 640px) {
  .bit-servei-p3-bg {
    margin-top: 0;
  }
}
.bit-servei-p3-d {
  margin-left: 45vh;
}
@media screen and (max-width: 1300px) {
  .bit-servei-p3-d {
    margin-left: 26vw;
  }
}
@media screen and (max-width: 640px) {
  .bit-servei-p3-d {
    margin-left: 60%;
  }
}
/*# sourceMappingURL=paralax-3.css.map */