
//toogle for test things

.t-bg1 {

	background-image: url(/wp-content/themes/tekneWP%204.0/src/img/fons-teknecultura-3.svg);

	background-image: url(/wp-content/themes/tekneWp/src/img/fons-teknecultura-3.svg);
	
	
	
}

.t-bg2 {

	 background-image: url(/wp-content/themes/tekneWP%204.0/src/img/fons-teknecultura-ov-rv.svg);

	background-image: url(/wp-content/themes/tekneWp/src/img/fons-teknecultura-ov-rv.svg);

	
}	

.t-bg3 {

	background-image: url(/wp-content/themes/tekneWP%204.0/src/img/banner/hero-tkc.svg);
	//background-image: url(/wp-content/themes/tekneWp/src/img/fons-teknecultura-4.svg);
	
	
}



.t-bg0 {
	background-image: none;
}