//serveis
.bit-serveis section:nth-child(odd) .servei {
    //rotate modules trick

    flex-direction: row-reverse;

    @media screen and (max-width: 640px) {

        flex-direction: column;

    }

}

.bit-servei {

    @media screen and (max-width: 475px) {

        img {
            display:none;
        }

        .bit-servei-paralax {
            min-height: 0!important;
            height: 0!important;
            padding-bottom: 0!important;
            margin-bottom:0!important;
        }

    }


    &-tkd {

        height: auto;
    }

    &-wrapper {

        @media screen and (max-width: 640px) {

            flex-direction: column;

        }


    }

    &-module {

        width: 45%;
        max-width: 600px;

        
        @media screen and (max-width: 900px) {

           
            max-width: 80%;
           // background-color:pink;
            

        }


        @media screen and (max-width: 640px) {

            width: 100%;
            max-width: 90%;
            display: block !important;
            padding:0 0.2rem;
            

        }


    }

    &-module-tkd {

        @media screen and (max-width: 640px) {
            padding: 2rem;
        }
    }

   

    .bit-servei-paralax-5 {
        @media screen and (max-width: 640px) {

            max-width: 80%;


        }

        &-arrow {
            @media screen and (max-width: 640px) {
                margin-left: 4vh !important;
            }
        }


    }

    &-content {

        font-size: 1.1rem;

        &-tkd {}
    }

    &-title {

        &:extend(.uk-margin-small-bottom);

        font-size: 1.6rem;
        font-weight: 400;
    }



    hr {
        border-bottom: solid 3px #45A9D0;
        border-top: 0;
        width: 40%;
        &:extend(.uk-margin-medium-bottom);
    }

    .hr-teknedata {
        border-bottom: solid 3px #90BC54;
    }

}

.before-animate {
    transform: scale(0.8);
}

.animate {
    visibility: visible;
    -webkit-transform: scale(1);
    opacity: 1;
    transform: scale(1);
    opacity: 1;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}