
.fp-shared & .home-posts {
    background: linear-gradient(to right, rgba(189,228,250,1) 0%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 100%);
    //background: rgba(189,228,250,1);
    //border-top: 1px solid #57B2E3;
}


.teknedata .fp-shared {
    
    .home-posts {
         background:  linear-gradient(to right, rgba(220,245,177,1) 0%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 100%);
    }

	.home-posts a:hover{
		color: @global-link-hover-color-secondary;
       }

    .home-section-title {}

    .home-post-title a, .home-testimonials a {
        color: @global-link-hover-color-secondary;
    }

    .uk-text-primary {
    	color: @global-link-hover-color-secondary!important;
    }

}



.front-page, .front-page-2 {
    
    .home-section-title {}

    .home-post-title a, .home-testimonials a {
        color: @global-link-hover-color;
    }


}

