.bit-switch-banner-btns {

    div {

        //grid div
        @media screen and (max-width: 795px) {
            width: 100%;
            margin-top: 10px!important;

        }

    }
}


.bit-switch-banner {

	.bit-switch-banner-module {
		 @media screen and (max-width: 500px) {

		 	width: 100%;
		 	text-align: center;

		 }
	}
}