.bit-testimonials {
    &-blockquote {

        font-size: 1.1rem;
        padding-top: 1rem;
        max-width: 850px;

         @media screen and (max-width: 640px) { 

			font-size: 1rem;

         }
    }
}