// Type

* {
	font-kerning:normal;
}

//Headings

h1 {
    letter-spacing: -4px;
    //font-weight: bold;
}

h2,h3,h4 {
	letter-spacing: -1px;
}

h1,h2,h3 {
	word-wrap: break-word;
}


//em

@base-em-color: @global-emphasis-color;


//weights

.uk-text-normal { //pq es això?
	font-weight: 300;
}

@text-bold-font-weight:                         600;
@base-body-font-weight:                         300;

b, strong {
		font-weight: 600;
	}


//Blockquote

@base-blockquote-font-size: @global-font-size;

blockquote {
	color: @global-color;
}

///colors///added uk style

.uk-text-secondary {
	color:@global-secondary-background;
}

.uk-text-white {
	color:white;
}


article  {
	a {
		color: @global-primary-background;
	}
}














