// .bw-filter {
//     filter: grayscale(100%);
// }

.right-to-left {
    border-width: 43px 43px 43px 0;
    border-style: solid;
    -webkit-border-image:
        -webkit-gradient(linear, 0 0, 100% 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image:
        -webkit-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
        -moz-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
        -o-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
        linear-gradient(to left, black, rgba(0, 0, 0, 0)) 1 100%;
}


.bgsh {

    //degradat per sliders
    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white 85%);
        width: 15%;
    }

}


.bit-u-blackandwhite {
    filter: grayscale(100%);
}

//3th party modifyers///
////////////////////////

#infinite-footer {
    // hide jetpack auto-footer on autoload more-posts
    display: none;
}



.uk-padding-xsmall {
    padding: 20px;
}

.uk-padding-xsmall-v {
	 padding: 10px 0;
}

.uk-lightbox-toolbar-icon {
    color: yellow !important;
    font-size: 30px !important;
}