/*!
 * Theme Name: TekneWp 4.0 original
 * Theme URI: http://elbit.cat
 * Description: Teknecultura / Teknedata wp theme
 * Version: 1.0
 * Author: elbit.cat
 * Author URI: http://elbit.cat
 * 
 *
 */*,*:after,*:before{-webkit-box-sizing:border-box;box-sizing:border-box}html{font-size:62.5%;-webkit-tap-highlight-color:transparent}body{font-family:"Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;font-size:140%;line-height:1.5;color:#444;background-color:#fff}img{max-width:100%;vertical-align:middle}a{color:#444;text-decoration:none}a:focus,a:hover{text-decoration:underline}input[type="text"],input[type="search"]{font-size:inherit;line-height:inherit}::-moz-selection{background-color:#04A4CC;color:#fff;text-shadow:none}::selection{background-color:#04A4CC;color:#fff;text-shadow:none}.alignnone{margin:5px 15px 15px 0}.aligncenter{display:block;margin:5px auto}.alignright{float:right;margin:5px 0 15px 15px}.alignleft{float:left;margin:5px 15px 15px 0}.wp-caption{background:#fff;border:thin solid #F0F0F0;max-width:95%;padding:5px 5px;text-align:center}.wp-caption img{width:auto;max-width:98.5%;height:auto;border:0 none;padding:0;margin:0}.wp-caption .wp-caption-text,.gallery-caption{margin:0;padding:0 5px 5px;font-size:140%;line-height:1.5}.clear:before,.clear:after{content:" ";display:table}.clear:after{clear:both}.reset-box{padding:0;margin:0}.wrapper{max-width:1280px;padding:0 15px;margin:0 auto;position:relative}@media print{*,*:before,*:after{background:transparent !important;color:#000 !important;-webkit-box-shadow:none !important;box-shadow:none !important;text-shadow:none !important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}a[href^="#"]:after,a[href^="javascript:"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100% !important}p,h2,h3{orphans:3;widows:3;background-color:red}h2,h3{page-break-after:avoid}}
