#cookie-notice {
	background-color: @global-soft!important;
	border-top: 1px solid @global-muted-color ;
	color:@global-emphasis-color!important;
	font-size: 0.8rem;
	p {
		margin-top: 1px;
		margin-bottom: 5px;
		display: inline;
	}

	 .button  {
		&:extend(.uk-button, .uk-button-default, .uk-button-small);
		margin-right: 10px;
		font-size: 0.8rem;
		
	}

	.cookie-popup-title {
	margin: 0!important;
	line-height: 1;
	font-size: 1rem;
	}
}
